.c-sidebar {
  width: 4%;
  height: 100vh;
}

.flexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-33 {
    width: 33%;
    max-height: 50%;
    margin-bottom: 10pt;
    padding: 5pt;
}

.box-66 {
    width: 66%;
    max-height: 50%;
    margin-bottom: 10pt;
    padding: 5pt;
}

.box-15 {
    width: 15%;
    margin-bottom: 10pt;
    padding: 5pt;
}

.w-80 {
  width: 80%;
}

.vh-75 {
  height: 75vh;
}

@media only screen and (max-width: 800px) {
  .c-sidebar {
    width: 6%;
    height: 100vh;
  }
}

@media only screen and (max-width: 500px) {
    .c-sidebar {
      width: 9%;
      height: 100vh;
    }
}

@media only screen and (max-width: 300px) {
    .c-sidebar {
      width: 13%;
      height: 100vh;
    }
}

/* custom tab */
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  font: 16px/1.5em;
  color: #333;
  font-weight: 300;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 15px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

input:focus-visible + label {
  outline: 10px solid rgba(255, 0, 0,1);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}